<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<style>
    .main-header {
        background-color: rgb(64, 0, 64); /* Yellow color with lighter shade */
    }
    .banner-frame img {
        width: 100%; /* Set the width to 100% to make the image fill the container */
        height: auto; /* Maintain aspect ratio */
        max-width: 1000px; /* Limit the maximum width of the image */
        display: block; /* Ensure the image is displayed as a block element */
        margin: 0 auto; /* Center the image horizontally */
    }
        .navbar-header {
        float: left; /* Align the navbar header to the left */
    }

    .navbar-brand {
        margin-left: 15px; /* Add some left margin to separate the logo from the edge */
    }
        .navbar {
        background-color: #ffff99; /* Yellow color with lighter shade */
    }
    .main-instagram .item img {
        width: 100%; /* Make the width of the image 100% of its container */
        height: 300px; /* Set a fixed height for all images */
        object-fit: contain; /* Ensure the entire image is contained within the frame */
    }
    .shopping-bag-icon {
        width:30px; /* Adjust the width to make the icon smaller */
        height: auto; /* Maintain aspect ratio */
        margin-right: 5px; /* Add some margin to separate the icon from the text */
    }
        .social-icon {
        width: 30px; /* Adjust the width to make the icons smaller */
        height: auto; /* Maintain aspect ratio */
    }
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title th:text="${title}">Menu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Site Icons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Site CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<!-- Start Main Top -->
  <div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="our-link">
                  <ul>
                      <li><a href="#"> Call US : +91 123456789</a></li>
                      <li><a href="#"><i class="fas fa-location-arrow"></i> Address: RR Nagar PES University Take it or Leave it</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="login-box">
                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In" onchange="location = this.value;">
                        <option>Authentication</option>
                                                <option th:if = "${session.username == null}" value = "http://localhost:8020/shop/login">Sign In </option>
                        <option th:if = "${session.username == null}" value ="http://localhost:8020/shop/register">Sign Up</option>
                         <option th:if = "${session.username != null}" value ="http://localhost:8020/shop/logout">Logout</option>
                    </select>
                </div>
                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box">
                            <li>
                                <i class="fab fa-opencart"></i> Off 5% for new members
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Freeship
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 10% off Entire Purchase Promo code: Ooadj
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off upto 10%! Shop Now
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 5% for new members
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Freeship
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 10% off Entire Purchase Promo code:PES
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 10%! Shop Now
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-header">
  <!-- Start Navigation -->
  <nav class="navbar navbar-expand-lg navbar-default bootsnav">
      <div class="container">
          <!-- Start Header Navigation -->
          <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                      aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.png}" class="logo" width="90"
                                                          height="80" alt=""></a>
          </div>
          <!-- End Header Navigation -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                  <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                  <li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menu</a></li>

                  <li class="dropdown">
                      <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Shop</a>
                      <ul class="dropdown-menu">
                          <li><a th:href="@{/shop-detail}">Shop Detail</a></li>
                          <li><a th:href="@{/orders}">Your order</a></li>
                          <li><a th:href="@{/profile}">My Account</a></li>
                      </ul>
                  </li>
                  <li class="nav-item active"><a class="nav-link" th:href="@{/contact}">Contact Us</a></li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->

          <!-- Start Atribute Navigation -->
<div class="attr-nav2">
    <ul>
        <li class="side-menu">
            <a href="#" th:href="@{/cart}">
               
                <span class="badge" th:text="${session.totalItems == null} ? '0' : ${session.totalItems}"></span>
                <p>My Cart</p>
                <img class="shopping-bag-icon" src="https://png.pngtree.com/element_our/20190531/ourmid/pngtree-shopping-cart-convenient-icon-image_1287807.jpg" alt="Shopping Bag Icon"> <!-- Add image URL here -->
            </a>
        </li>
    </ul>
</div>

          <!-- End Atribute Navigation -->
      </div>
  </nav>
  <!-- End Navigation -->
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 th:text="${page}"></h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">PMS</a></li>
                    <li class="breadcrumb-item active" th:text="${page}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block w-100" th:src="'data:image/jpeg;base64,' + ${productDetail.image}"
                                 alt="First slide"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <form th:action="@{/add-to-cart}" method="post">
                    <div class="single-product-details">
                        <h2 th:text="${productDetail.name}"></h2>
                        <h5 th:text="'$' + ${productDetail.costPrice}"></h5>
                        <h4>Short Description:</h4>
                        <p th:text="${productDetail.description}"></p>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <input type="hidden" th:value="${productDetail.id}" name="id" class="form-control">
                                <input type="submit" class="btn hvr-hover" value="Add to cart">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h1>Related Products</h1>
            </div>
            <div class="featured-products-box owl-carousel owl-theme">
                <div class="item" th:each="product : ${products}">
                    <form th:action="@{/add-to-cart}" method="post">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img th:src="'data:image/jpeg;base64,' + ${product.image}" class="img-fluid"
                                     alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a th:href="@{/product-detail/{id}(id = ${product.id})}"
                                               data-toggle="tooltip"
                                               data-placement="right"
                                               title="View"><i class="fas fa-eye"></i></a></li>
                                    </ul>
                                    <input type="hidden" th:value="${product.id}" name="id" class="form-control">
                                    <input type="submit" class="btn hvr-hover" value="Add to cart">
                                </div>
                            </div>
                            <div class="why-text">
                                <h4 th:text="${product.name}"></h4>
                                <h5 th:text="'$' + ${product.costPrice}"></h5>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<!-- End Cart -->

<!-- Start Feed  -->
<div class="instagram-box">
  <div class="main-instagram owl-carousel owl-theme">
      <div class="item">
          <div class="ins-inner-box">
              <a th:href="@{/index}"><img th:src="@{/images/Geminor M 2 Tablet PR.png}" alt=""/></a>

          </div>
      </div>
      <div class="item">
          <div class="ins-inner-box">
              <img th:src="@{/images/Minirin 0.2mg.png}" alt=""/>
          </div>
      </div>
      <div class="item">
          <div class="ins-inner-box">
              <a th:href="@{/index}"><img th:src="@{/images/Thyronorm 50mcg Tablet.png}" alt=""/></a>
          </div>
      </div>
      <div class="item">
          <div class="ins-inner-box">
              <a th:href="@{/index}"><img th:src="@{/images/Ambrodil Syrup.png}" alt=""/></a>
          </div>
      </div>
      <div class="item">
          <div class="ins-inner-box">
              <a th:href="@{/index}"><img th:src="@{/images/Zandu Ayurvedic Cough Syrup.png}"
                                        alt=""/></a>
          </div>
      </div>
      <div class="item">
          <div class="ins-inner-box">
              <a th:href="@{/index}"><img th:src="@{/images/Itone Eye Drop.png}"
                                        alt=""/></a>
          </div>
      </div>
      <div class="item">
          <div class="ins-inner-box">
              <a th:href="@{/index}"><img
                      th:src="@{/images/Neoral 25mg.png}"
                      alt=""/></a>
          </div>
      </div>
  </div>
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer>
  <div class="footer-main">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-top-box">
                      <h3>Business Time</h3>
                      <ul class="list-time">
                          <li>Monday - Sunday: 08.00am to 10.00pm</li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-top-box">
                      <h3>Contact Us</h3>
                      <ul class="list-time">
                          <li><i class="fas fa-phone-square"></i> Phone number: +91 123456789</li>
                          <li><i class="fas fa-envelope"></i> Email: ooadjproject@gmail.com</li>
                          <li><i class="fas fa-map-marker-alt"></i> Address: PES University ask OOADJ Maam</li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-top-box">
                      
<div class="social-icons">
	<h3>Social Media</h3>
    <ul>
        <li><a href="#"><img class="social-icon" src="https://clipart-library.com/images_k/facebook-logo-with-transparent-background/facebook-logo-with-transparent-background-19.png" alt="Facebook"></a></li>
        <li><a href="#"><img class="social-icon" src="https://i.pinimg.com/originals/b8/c8/46/b8c846a25866985a5719049b9f0c5890.png" alt="Twitter"></a></li>
        <li><a href="#"><img class="social-icon" src="https://png.pngtree.com/element_our/png/20181011/linkedin-social-media-icon-design-template-vector-png_127000.jpg" alt="LinkedIn"></a></li>
        <li><a href="#"><img class="social-icon" src="https://png.pngtree.com/element_our/png/20181011/instagram-social-media-icon-design-template-vector-png_126996.png" alt="WhatsApp"></a></li>
    </ul>
</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

<div>
    <!-- ALL JS FILES -->
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- ALL PLUGINS -->
    <script th:src="@{/js/jquery.superslides.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.js}"></script>
    <script th:src="@{/js/inewsticker.js}"></script>
    <script th:src="@{/js/bootsnav.js}"></script>
    <script th:src="@{/js/images-loded.min.js}"></script>
    <script th:src="@{/js/isotope.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/baguetteBox.min.js}"></script>
    <script th:src="@{/js/form-validator.min.js}"></script>
    <script th:src="@{/js/contact-form-script.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</div>
</body>

</html>